/*
!.gitignore
!wp-content/
*.DS_Store

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/themes/
!wp-content/plugins/

# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
wp-content/plugins/*
# !wp-content/plugins/my-directory-plugin/

# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
wp-content/themes/*
!wp-content/themes/twentyelevenchild
!wp-content/themes/twentyelevenchild/*


# SASS

*.sass-cache/

wp-content/themes/twentyelevenchild/.DS_Store
